{
  "settings": {
    "import/resolver": {
      "alias": [
        ["@", "./src/components"],
        ["@", "./src/assets"],
        ["@", "./src/assets/images"],
        ["@", "./src/containers"]
      ]
    },
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "sourceType": "module",
    "parser": "babel-eslint",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true,
      "tsx": true,
      "arrowFunctions": true,
      "modules": true
    }
  }
}
