.AccordionPanel {
  margin: 0;
  border: 1px solid hsl(216, 94%, 94%);
  max-height: 0px;
  transition: max-height 1.5s cubic-bezier(0.1, 0.7, 1, 0.1);
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);

  &[aria-expanded="true"] {
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
  }
}
